[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Start heating printbed
    M140 S{BED_TEMP}
    # Create Bedmesh
    G29
    BED_MESH_PROFILE LOAD=default
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Park near Object
    SMART_PARK
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Purges Extruder
    LINE_PURGE

[gcode_macro STOP_PRINT]
gcode:
  END_PRINT

[gcode_macro END_PRINT]
gcode:
    #retract
    G10

    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    
    G91
    # Raise nozzle by 10mm
    G1 Z1 F3000
    # Move nozzle away from print while retracting
    G1 X-2 Y-2 Z10 F12000
    G90
    G1 Y210
    # Disable steppers
    M84

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE

[gcode_macro M205]
gcode:
  G4

[gcode_macro ZOffset]
gcode:
  PROBE_CALIBRATE